<%= form_with(model: tipo_telefone, local: true) do |form| %>
  <% if tipo_telefone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_telefone.errors.count, "error") %> prohibited this tipo_telefone from being saved:</h2>

      <ul>
        <% tipo_telefone.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
